.zhezhao {
    position: fixed;
    left: 0px;
    top: 0px;
    background: rgba(173, 173, 173, 0.514);
    width: 100%;
    height: 100%;
}

.tankuang {
    position: relative;
    background: rgb(255, 255, 255);
    width: 50%;
    height: 50%;
    border-radius: 5px;
    margin: 15% auto;
}

#header {
    height: 40px;
}

#header-right {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: red;
    color: #fff;
    right: 5px;
    top: 5px;
    text-align: center;
}

.wt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
.b-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#pay_img {
    height: 200px;
    position: relative;
    z-index: 1000000000;
    margin-left: 40px;
}